@charset 'UTF-8';

.title {
  font-family: 'Sintony', sans-serif;
}

.disclaimer {
  font-size: 9px;
  font-family: 'Cutive Mono', serif;
  padding-left: 10px;
}

.searchbar {
  padding-top: 17px;
}

#textarea {
  width: 25em;
  max-height: 5em;
}

.response {
  display: none;
  text-align: center;
  font-size: 3em;
  font-family: 'Armata', sans-serif;
  color: #606060;
}